<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/stylesheets/dates.css">
    <script src="/static/scripts/dates.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-container">
        <a href="/"><h1>GROUPIE TRACKER</h1></a>
        <div class="theme-container">
            <label class="theme-switch">
                <input type="checkbox" id="theme-toggle">
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <hr>

    <div class="search-container">
        <input type="text" id="search-bar" placeholder="Rechercher des artistes, membres, lieux..." onkeyup="searchSuggestions()">
        <ul id="suggestions-list"></ul>
    </div>
    
    <div class="content">
        {{if .}}
        <img src="{{.Image}}" alt="{{.Name}}">
            <div class="dates-container">
                <div class="group-info">
                    <h2><a href="/info/{{.ID}}">{{.Name}}</a></h2>
                    <ul>
                        {{range .Dates}}
                            <li style="font-weight: bold;">{{.}}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
        {{end}}
    </div>

    <footer>
        <hr>
    </footer>
</body>
</html>