<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/stylesheets/dates.css">
</head>
<body>
    <a href="/"><h1>GROUPIE-TRACKER</h1></a>
    <hr>

    <div class="content">
        {{if .}}
        <img src="{{.Image}}" alt="{{.Name}}">
            <div class="dates-container">
                <div class="group-info">
                    <h2><a href="/info/{{.ID}}">{{.Name}}</a></h2>
                    <ul>
                        {{range .Dates}}
                            <li>{{.}}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
        {{end}}
    </div>

    <footer>
        <hr>
    </footer>
</body>
</html>